/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff69b4;
}

p {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

button {
    background-color: #ff69b4;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff85c0;
}

#photosContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cake img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }

    button {
        padding: 12px 24px;
        font-size: 1.2em;
    }

    #cake img {
        width: 200px;
        height: auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 60%;
    }
}
